@import '../node_modules/@angular/material/theming';

// Styles for the docs app that are based on the current theme.
@mixin app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $next-theme: mat-palette($mat-red);

  .app-background {
    background: mat-color($background, background);
  }

  .app-primary-header {
    background: mat-color($primary);

    h1 {
      color: mat-color($primary, default-contrast);
    }
  }

  .app-footer {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  app-navbar {
    color: mat-color($primary, default-contrast);
  }
  
  .app-navbar-header {
    background: mat-color($primary);
  }

  app-footer {
    .app-footer-links a {
      color: mat-color($primary, default-contrast);
    }
  }
}
