<nav class="app-navbar-header">
  <a mat-button class="app-button" routerLink="/">
    <span>Image EXIF</span>
  </a>
  <div class="flex-spacer"></div>
  <theme-picker></theme-picker>
  <a mat-button class="app-button app-navbar-hide-small" href="https://github.com/alvachien/acimgexif"
     aria-label="GitHub Repository">
    GitHub
  </a>
  <a mat-icon-button class="app-button app-navbar-show-small"
     href="https://github.com/alvachien/acimgexif" aria-label="GitHub Repository">
  </a>
</nav>
